.container .filters {
        background-color: #fff;
        height: 70px;
        width: 100%;
        border: 1px solid #dddddd;
        border-radius: 4px;
        position: relative;
}

.container .filters div {
	height: 100%;
	width: 25%;
	display: inline-block;
	padding: 20px;
	padding-left: 40px;
	position: relative;
}

.container .filters div h3 {
	font-weight: 600;
}

.container .filters div h4 {
	font-weight: 400;
	font-size: 14px;
}

.container .filters .locations {
	border-right: 1px solid #DDDDDD;
}

.container .filters .amenities {
	margin-left: -5px;
}

.container .filters .locations .popover,
.container .filters .amenities .popover {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	right: 0;
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 40px;
	z-index: 9999;
}

.container .filters .locations .popover ul,
.container .filters .amenities .popover li {
	list-style-type: none;
}

.container .filters .locations .popover ul li,
.container .filters .amenities .popover li {
	margin-bottom: 5px;
}

.container .filters .locations .popover ul h2 {
	font-size: 16px;
}

.container .filters .locations .popover ul:first-child {
	margin-bottom: 30px
}

.container .filters .locations .popover ul li{
	padding-left: 30px;
}

.container .filters .locations:hover .popover,
.container .filters .amenities:hover .popover {
	display: block;
}

.container .filters button {
        font-size: 18px;
        background-color: #ff5a5f;
        color: #ffffff;
        height: 48px;
        width: 20%;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        border: 0;
        transition: 500ms;
        cursor: pointer;
}

.container .filters button:hover {
        opacity: 0.9;
}
